.cars {
  padding: 6rem 0;

  &-container {
    &__wraps {
      display: flex;
      align-items: center;
      justify-content: space-between;
      flex-wrap: wrap;

      @media screen and (max-width: 550px) {
        flex-direction: column;
      }
    }
  }
}
