.services {
  padding: 6rem 0;

  &-container {
    text-align: center;

    &__title {
      font-size: 1.2rem;
      color: #16161a;
      font-weight: 500;
    }
    &__lists {
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 2.5rem 0;

      &-item {
        width: 27%;
        padding: 20px;
        border-radius: 0.3rem;
        transition: all 0.4s ease-in-out;

        &:hover {
          transition: all 0.4s ease-in-out;
          box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
        }
        &:hover &__icon {
          background-color: #fe5b3d;
          color: #fff;
          transition: all 0.4s ease-in-out;
        }

        &__icon {
          transition: all 0.4s ease-in-out;
          font-weight: 500;
          color: #fe5b3d;
          padding: .5rem;
          width: 50px;
          height: 50px;
          margin: 0 auto;
          border-radius: 0.5rem;
          background-color: #16161a;
        }
        &__title {
          font-size: 1.3rem;
          font-weight: 500;
          margin: 1.5rem 0;
          color: #16161a;
        }
      }

      @media screen and (max-width: 992px) {
        flex-wrap: wrap;
        justify-content: center;
        &-item {
          width: 45%;
        }
      }
      @media screen and (max-width: 550px) {
        flex-direction: column;
        &-item {
          width: 95%;
          margin: 0.5rem auto;
        }
      }
    }
  }
}
